asgiref                     
bcrypt                      
boto3                        
botocore                     
cachetools                  
certifi                      
charset-normalizer          
dj-database-url             
dj-rest-auth                
Django                      
django-allauth               
django-cors-headers         
django-environ               
djangorestframework          
djangorestframework_simplejwt 
google-auth                  
idna                       
jmespath                    
pillow                       
pip                          
psycopg2-binary              
pyasn1                      
pyasn1_modules              
PyJWT                       
python-dateutil               
python-dotenv               
requests                     
rsa                       
s3transfer                   
six                          
sqlparse                    
typing_extensions            
tzdata                       
urllib3                     
whitenoise                  